*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --color-primary: rgb(107, 187, 227);
  --color-secondary: rgb(255, 51, 51);
  --color-tertiary: rgb(153, 153, 153);
}

* {
  transition: color .25s ease-out,   
              background-color .25s ease-out,
              opacity .25s ease-out;
}

html {
  font-size: 16px;
  font-weight: 300;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  min-height: 400vh;
  background-color: #f5f4f1;
}

main p{
  margin-bottom: 8rem;
  font-size: 2em;
}

.btns{
  position: fixed;
  display: flex;
  width: 100%;
  top: 35vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: .5rem .8rem;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  outline: 0;
  border-radius: 4px;
}

.btn:first-of-type{
  margin-right: 2em;
}

.btn:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}

.box{
  width: 40vw;
  height: 50vh;
  top: 50%;
  transform: translateY(-50%);
  padding: 2em;
  background: greenyellow;
}

.box2{
  width: 30vw;
  height: 30vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
  background: lightpink;
}