body.modal-on{
    overflow: hidden;
}

.modal{
    position: absolute;
    display: none;
    opacity: 0;
    z-index: 999;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
}

.modal-right{
    right: -100%;
    transition: right .5s ease-in-out,
                opacity .25s ease-in-out .25s;
}

.modal-left{
    left: -100%;
    transition: left .5s ease-in-out,
                opacity .25s ease-in-out .25s;
}

.modal-top{
    top: -100%;
    transition: top .5s ease-in-out,
                opacity .25s ease-in-out .25s;
}

.modal-bottom{
    bottom: -100%;
    transition: bottom .5s ease-in-out,
                opacity .25s ease-in-out .25s;
}

.modal-close span{
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
    color: red;
    cursor: pointer;
}

.modal-open{
    opacity: 1;
}

.modal-open.modal-right{
    right: 0;
}

.modal-open.modal-left{
    left: 0;
}

.modal-open.modal-top{
    top: 0;
}

.modal-open.modal-bottom{
    bottom: 0;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 200;
  }
  